@font-face {
  font-family: calculatorFont;
  src: url(./alarm_clock.ttf);
}

$button-height: calc(100% / 6);
$button-font-size-height: 5vh;
$button-font-size-width: 2.5vw;
$screen-font-size-height: 7vh;
$screen-font-size-width: 3.5vw;
$button-number-color: #c7d2ff;
$button-number-color-hover: #fee48f;
$button-gap-height: 3.5vh;
$button-gap-width: 1.75vw;
$calculator-radius-height: /* 25px */ 2vh;
$calculator-radius-width: /* 25px */ 1vw;
$button-radius-height: /* 10px */ 1.6vh;
$button-radius-width: /* 10px */ 0.8vw;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4e7f4;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 20px 30%;

  .calculator {
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: min($calculator-radius-width, $calculator-radius-height);
    padding: min($button-gap-width, $button-gap-height)
      min($button-gap-width, $button-gap-height);

    .screen-container {
      width: 100%;
      height: $button-height;
      padding-bottom: min($button-gap-width, $button-gap-height);

      button {
        width: 100%;
        height: 100%;
        font-family: calculatorFont;
        /* font-size: calc($button-font-size); */
        font-size: min($screen-font-size-width, $screen-font-size-height);
        font-weight: bolder;
        text-align: right;
        border-radius: min($button-radius-width, $button-radius-height);
        padding: 0px 10px;
      }
    }

    .buttons {
      width: 100%;
      height: calc($button-height * 5);
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
      column-gap: min($button-gap-width, $button-gap-height);
      row-gap: min($button-gap-width, $button-gap-height);
      padding-top: min($button-gap-width, $button-gap-height);

      button {
        /* font-size: calc($button-font-size - 10px); */
        font-size: min($button-font-size-width, $button-font-size-height);
        border-radius: min($button-radius-width, $button-radius-height);
      }
    }
  }
}
